<form method="post" asp-controller="Record" asp-action="Get">
    <lable name="Phonenumber">Phonenumber:</lable>
    <input type="text" name="Phonenumber"/>
    <button type="submit">Check</button>

</form>